body {
  background-color: #f8dee4;
  font-family: Fredoka;
  color: #ec5bad;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

div {
  // border: 1px solid red;
}

.nav-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 10%;
}

.nav-logo {
  margin-right: auto;
  font-size: 48px;
  font-weight: 700;
  color: #fbde58;
  text-shadow: -2px -2px 0 #fe69bd, 2px -2px 0 #fe69bd, -2px 2px 0 #fe69bd,
    2px 2px 0 #fe69bd;
}

.nav-list {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  gap: 25px;
}

.nav-list a {
  text-decoration: none;
  color: #da519f;
}

.nav-list a:hover {
  text-decoration: underline;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 25px;
}

.main-banner img {
  max-width: 400px;
}

.info-banner {
  padding: 25px 10%;

  background-color: #68e6ef;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-text {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #fbde58;
  text-shadow: -2px -2px 0 #fe69bd, 2px -2px 0 #fe69bd, -2px 2px 0 #fe69bd,
    2px 2px 0 #fe69bd;
}

.products-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 10%;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 250px;
  border: 3px solid #da519f;
  border-radius: 10px;
}

.card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#ruffles {
  max-height: 210px;
  width: auto;
}

.product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.products-title {
  padding: 80px;
}
