body {
  background-color: #f8dee4;
  font-family: Fredoka;
  color: #ec5bad;
  box-sizing: border-box;
  margin: 0;

  font-size: 16px;
}

div {
  // border: 1px solid red;
}

h1 {
  font-size: 32px;
}

.nav-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 10%;
}

.nav-logo {
  margin-right: auto;
  font-size: 32px;
  font-weight: 700;
  color: #fbde58;
  text-shadow: -2px -2px 0 #fe69bd, 2px -2px 0 #fe69bd, -2px 2px 0 #fe69bd,
    2px 2px 0 #fe69bd;
}

.nav-links {
  display: none;
  position: absolute;
  top: 9%;
  right: 0;
  width: 60%;
  background-color: #68e6ef;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.4);
  margin-right: 10px;
  z-index: 1000;
  border-radius: 10px;
  border: 1px solid grey;
  font-weight: 500;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nav-list {
  text-decoration: none;
  color: #da519f;
  margin: 0;
  font-size: 18px;
  border-radius: 5px;
  list-style-type: none;
  padding: 15px;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.nav-list a {
  text-decoration: none;
  color: #da519f;
}

.nav-list a:hover {
  text-decoration: underline;
}

.menu-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30px;
}

.bar {
  width: 100%;
  height: 3px;
  background-color: #da519f;
  transition: 0.3s;
}

.main-banner {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 25px;
}

.main-banner img {
  max-width: 70%;
  height: auto;
}

.info-banner {
  padding: 25px 10%;

  background-color: #68e6ef;

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-text {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #fbde58;
  text-shadow: -2px -2px 0 #fe69bd, 2px -2px 0 #fe69bd, -2px 2px 0 #fe69bd,
    2px 2px 0 #fe69bd;
}

.products-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 75%;
  height: auto;
  border: 3px solid #da519f;
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

#ruffles {
  max-width: 70%;
  height: auto;
}

.product-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
}

.products-title {
  padding-top: 25px;
}

.cta-bubble {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
}
#social-icon {
  max-width: 3em;
  height: auto;
  margin-top: 25px;
}

.footer {
  color: white;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(34, 3, 46);
  margin-top: 25px;
  padding: 10px 0px 0px 10px;
  line-height: 0.25;
}

.footer a {
  color: aqua;
}
